<h1>Register</h1>

<%= form_for(User.new) do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :notifications %>
  <%= f.check_box :notifications %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <label for="password2">Re-Enter Password</label>
  <input name="password2" type="password" />
  <%= f.submit 'Submit' %>
<% end %>